/* Style sheet setup */
* {
    margin:0px;Rogers Park, Chicago, IL
    padding
    box-sizing:border-box;
    font-family:Arial;
    /* Border solid is for testing div width and sizing adjustments */
    border:solid black;
}

/* body overall color */
body{
    background-color: grey;
}

/* Cards overall styling and positioning */
#leader-card,
#title-card,
#results-card,
#Quest-card{
    width:600px;
    height:600px;
    flex:auto;
    /* I haven't decided on the final look of the application */
    /* border: solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content:center;
    background-color: white;
    border: solid grey;
}

/* Title card styling is below starting with the starting Zindex value and opacity */
/* #title-card{
    z-index:1;
    opacity:1;
} */

/* Title card H1 styling positioning and spacing */
#title-card h1{
    width: 80%;
    margin:50px;
    padding:5px;
    margin-bottom: 10%;
}

/* Title card paragraph tag styling and spacing */
#title-card p{
    width: 80%;
    font-size: 18px;
    text-align: center;
    margin: 10%;
}

/* Button styling for starting the Quiz */
.Start-quiz{
    background-color:darkcyan;
    color: white;
    font-size:26px;
    border:solid rgb(0, 93, 93);
    padding:8px;
    margin-left:200px;
}

/* Start button hover transition styling */
.Start-quiz:hover {
    background-color:rgb(1, 87, 87);
}

/* Question card index and position change test styling */
/* #Quest-card .opac{
    z-index: 6;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1); */
/* } */

/* Class list for the z index testing and positioning - visible card styling */
.opac{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    /* transform: translate(-50%, -50%) scale(1); */
}

.opacNone{
    z-index:-1;
    opacity:0;
    pointer-events:none;
}

/* Question styling and positioning */
.title-quest{
    height:50px;
    display:flex;
    align-items:center;
    justify-content: space-between;

}

/* Clock text - Timer */
.clock-text{
    justify-content:end;
}

/* Clock positioning not completed */
.clock{
    justify-content:end;
}

/* Question box p tag styling */
#quest-box p{
    font-size:24px;
    margin: 20px;
    text-align: center;
}

/* #results-card {
    opacity:0;
    z-index: 0;
} */

/* Answer options div styling */
.option {
    padding:10px;
    font-size:18px;
    margin:20px;
    width:75%;
    background-color:rgb(57, 170, 170);
    color: white;
    border-radius: 8px;
}

/* Correct answer visual queue */

.correct{
    padding:10px;
    font-size:18px;
    margin:20px;
    width:75%;
    background-color:rgb(173, 225, 225);
    color: white;
    border-radius: 8px;
}

/* Incorrect answer visual queue */
.incorrect{
    padding:10px;
    font-size:18px;
    margin:20px;
    width:75%;
    background-color:rgb(252, 153, 153);
    color: white;
    border-radius: 8px;
}

/* Disabling selections after User response */
.disabled{
    pointer-events:none;
}


/* Answer options hover styling */
#optionAnswer div:hover {
    background-color:rgb(1, 87, 87);
    transition:ease-in;
    cursor: pointer;
}

#results-card h3{
    width: 80%;
    margin:35px;
    padding:20px;
    margin-bottom: 10%;
}

/* Temporary settings for styling work */
#results-card{
    z-index: 7;
    opacity: 1;
}