/* Style sheet setup */
* {
    margin:0px;Rogers Park, Chicago, IL
    padding:0px;
    box-sizing:border-box;
    font-family:Arial;
    /* Border solid is for testing div width and sizing adjustments */
    /* border:solid black; */
}

body{
    background-color: lightblue;
}

/* .title-card,
.Quest-card,
.results-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.title-card{
    width:600px;
    height:600px;
    flex:auto;
    /* border: solid black; */
    justify-content:center;
    padding:1.25%;
    background-color: white;
    border-radius:25px;
    /* opacity: 0; */
}

.title-card h1{
    width: 90%;
    margin:30px;
    padding:5px;
    margin-bottom: 10%;
}

.title-card p{
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 18%;
}

.Start-quiz{
    background-color:darkcyan;
    color: white;
    font-size:26px;
    border-radius: 8px;
    border:none;
    padding:5px;
}

.Quest-card{
    width:600px;
    height:600px;
    /* border: solid black; */
    justify-content:center;
    opacity:100%;
    padding:1.25%;
    background-color: white;
    border-radius:25px;
    /* opacity:1; */

}

.title-quest{
    display:inline-block;
}

.clock-text{
    justify-content:end;
}

.clock{
    justify-content:end;
}

.quest-box p{
    font-size:24px;
    margin: 20px;
    text-align: center;
}

.option1,
.option2,
.option3,
.option4{
    padding:20px;
    font-size:18px;
    margin:30px;
    background-color:rgb(57, 170, 170);
    color: white;
    border-radius: 8px;
}

.options div:hover {
    background-color:rgb(1, 87, 87);
    transition:ease-in;
    cursor: pointer;
}


.results-card{
    width:600px;
    height:600px;
    flex:auto;
    /* border: solid black; */
    justify-content:center;
    padding:1.25%;
    background-color: white;
    border-radius:25px;
    /* opacity: 0; */
}
